<div id="about" class="about">
    <div class="about-img-container">
        <img src="./assets/img/persona2.jpg" alt="una imagen">
    </div>
    <div class="about-container">
        <h3 class="titulo">Sobre mi</h3>
        <h2 class="subtitulo">HOLA MUNDO</h2>
        <hr class="subrayado-subtitulo">
        <p class="descripcion">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Aspernatur dolores, magnam blanditiis quibusdam recusandae id 
            sapiente sint rem non, nostrum veritatis ab tenetur qui voluptate, 
            nam modi sequi tempora a. Lorem ipsum, dolor sit amet consectetur 
            adipisicing elit.
        </p>
    </div>
</div>