<header>
    <nav>
        <span id="home" class="portfolio">PORTFOLIO</span>
        <div class="menu">
            <span><a href="#home">HOME</a></span>
            <span><a href="#about">SOBRE MI</a></span>
            <span><a href="#stack">STACK</a></span>                    
            <span><a href="#work">TRABAJOS</a></span>
            <span><a href="#contact">CONTACTO</a></span>
        </div>
    </nav>
    <div class="titulos">
        <div class="titulos-container">
            <h2 class="miNombre">MI NOMBRE ES</h2>
            <h1 class="nombre">SANTIAGO</h1>
            <h2 class="profesion">SOY DESARROLLADOR WEB</h2>
        </div>
        <img src="./assets/img/notebook.jpg" alt="">
    </div>
</header>