<div id="work" class="work">
    <h2>TRABAJOS</h2>
    <hr class="subrayado-work">
    <div class="work-container">
        <div class="card" style="width: 18rem;">
            <div class="contenedor">
                <img src="./assets/img/portfolio.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Portfolio</h5>
              <p class="card-text">Pagina desarrollada en HTML, CSS, JS y componentes de bootstrap, se realizo como proyecto final para el curso de Argentina Programa.</p>
              <a href="https://santiagolc.github.io/ProyectoFinal/" class="btn btn-secondary">Ir al sitio</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="contenedor">
                <img src="./assets/img/portfolio.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Portfolio</h5>
              <p class="card-text">Pagina desarrollada en HTML, CSS, JS y componentes de bootstrap, se realizo como proyecto final para el curso de Argentina Programa.</p>
              <a href="https://santiagolc.github.io/ProyectoFinal/" class="btn btn-secondary">Ir al sitio</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="contenedor">
                <img src="./assets/img/portfolio.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Portfolio</h5>
              <p class="card-text">Pagina desarrollada en HTML, CSS, JS y componentes de bootstrap, se realizo como proyecto final para el curso de Argentina Programa.</p>
              <a href="https://santiagolc.github.io/ProyectoFinal/" class="btn btn-secondary">Ir al sitio</a>
            </div>
        </div>
    </div>    
</div>