<div id="stack" class="stack">
    <h2>STACK DE APLICACIONES</h2>
    <hr class="subrayado-stack">
    <div class="stack-container">
        <div class="img-container-stack"><img src="./assets/img/html.png" alt=""></div>
        <div class="img-container-stack"><img src="./assets/img/css.png" alt=""></div>
        <div class="img-container-stack"><img src="./assets/img/js.png" alt=""></div>
        <div class="img-container-stack"><img src="./assets/img/php.png" alt=""></div>
        <div class="img-container-stack"><img src="./assets/img/sql.png" alt=""></div>
    </div>
</div>