/* CSS Mini Reset */
html,
body,
div,
form,
fieldset,
legend,
caption,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre
{
    font-size: 100%;
    font-weight: normal;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background: transparent;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td
{
    text-align: left;
    vertical-align: top;
}

img
{
    border: 0;
}



/* Start styles */

*{
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    display: flex;
    height: max-content;
    padding: 2%;
    background-color: black;
    color: white;
}

.portfolio{
    flex: 50%;
}

.menu{
    flex: 30%;
}

.menu span{
    padding: 2%;
}

.menu a:hover{
    color: grey;

}

.titulos{
    display: flex;
    background-color: lightgray;
}

.titulos-container{
    flex: 50%;
    margin: 8% 0% 0% 5%;
}

.titulos img{
    flex: 50%;
    width: 25%;      
}

.miNombre{
    font-size: 45px;
    line-height: 1;
}

.nombre{
    font-size: 70px;
    font-weight: 600;
    line-height: 1;
}

.profesion{
    font-size: 40px;
    background: black;
    color: white;
}

.about{
    display: flex;
}

.about-img-container{
    flex: 50%;
    height:400px;
}

.about-img-container img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.about-container{
    flex: 50%;
    margin: 6% 1% 0% 1%;
}

.titulo{
    font-size: 25px;
    font-weight: 500;
}

.subtitulo{
    font-size: 35px;
    font-weight: 700;
}

.subrayado-subtitulo{
    border: 2px solid #FFFD14;
    width: 40%;
    margin: 0% 0% 2% 5%;
}

.work h2, .stack h2 {
    text-align: center;
    font-size: 35px;
    padding: 3%;
}

.subrayado-stack{
    position: relative;
    top: -12%;
    left: 50%;
    width: 20%;
    border: 2px solid #FFFD14;
}

.subrayado-work{
    position: relative;
    top: -45px;
    left: 50%;
    width: 10%;
    border: 2px solid #FFFD14;
}

.stack-container{
    display: flex;
    justify-content: space-around;
}

.stack img, .work img {
    max-width: 100%;
    max-height: 100%;
}

.stack{
    height: 380px;
    background-color: whitesmoke;
}

.img-container-stack{
    height: 200px;
    width: 200px;
}

.work-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

.card{
    margin-bottom: 15%;
}

.card h5{
    font-weight: 600;
}

.card p{
    margin-bottom: 2%;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}

footer h3, footer p{
    padding: 1%;
}

.contact-container{
    display: flex;
}

.contacto{
    font-size: 25px;
    flex: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.redes{
    font-size: 25px;
    padding-left: 10%;
    flex: 30%;
    text-align: initial;
}

svg{
    width: 8%;
    fill: white;
}

footer a:hover{
    color: grey;
}

@media (max-width: 1000px) {
    
    .portfolio{
        flex: 30%;
    }

    .miNombre{
        font-size: 40px;
    }
    
    .nombre{
        font-size: 65px;
    }
    
    .profesion{
        font-size: 35px;
    }
}

@media (max-width: 800px) {
    
    .portfolio{
        flex: 10%;
    }

    .menu{
        flex: 35%;
    }
    
    .titulos-container{
        margin: 8% 0% 0% 2%;
    }

    .miNombre{
        font-size: 33px;
    }
    
    .nombre{
        font-size: 58px;
    }
    
    .profesion{
        font-size: 28px;
    }

    .subrayado-subtitulo {
        margin: 0% 0% 2% 35%;
    }

    .subrayado-stack {
        top: -8%;
        left: 62%;
    }

    .img-container-stack {
        height: 150px;
        width: 150px;
    }

    .work-container {
        grid-template-columns: auto auto;
    }

    .subrayado-work {
        top: -35px;
        left: 52%;
        width: 15%;
    }

    .contacto {
        font-size: 16px; 
    }

    .redes {
        font-size: 16px; 
        padding-left: 5%;
        flex: 20%;
    }
}

@media (max-width: 500px) {

    .portfolio{
        display: none;
    }
    
    nav{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulos{
        background-position: center;
        background-size: cover;
        background-image: url("../img/notebook.jpg");
    }

    .titulos img{
        display: none;
    }

    .titulos-container {
        margin: 5% 0% 5% 5%;
    }

    .about {
        flex-direction: column;
    }

    .about-container{
        margin: 4% 1% 4% 1%;
    }

    .subrayado-subtitulo {
        margin: 0% 0% 2% 25%;
    }

    .work h2, .stack h2 {
        font-size: 25px;
    }

    .subrayado-stack {
        top: -8%;
        left: 62%;
    }

    .img-container-stack {
        height: 150px;
        width: 150px;
    }

    .work-container {
        grid-template-columns: auto auto;
    }

    .subrayado-work {
        top: -35px;
        left: 52%;
        width: 15%;
    }

    .contacto {
        font-size: 16px; 
    }

    .redes {
        font-size: 16px; 
        padding-left: 5%;
        flex: 20%;
    }
}








